*, *:after, *:before
  box-sizing border-box

:root
  font-size 10px

p
  margin 0
  max-width 100%

a
  display inline-block
  color inherit

b
  font-weight bold

img
  max-width 100%

html
  font-size 10px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

ul
  list-style none
  padding 0

button
  cursor pointer
  user-select none
