<%- require('../_partials/case-header.ejs')() %>
<section class="case">
  <div class="container">
    <h1 class="title">Гермес Групп</h1>
    <div class="title-props">Верстка, программирование ModX</div>
    <!-- Задача -->
    <div class="case-block">
      <h3 class="case-block-title">Задача от заказчика</h3>
      <p>Создать корпоративный сайт по готовому дизайну. Дизайн предоставил сам заказчик.</p>
    </div>
    <!-- Решение - код -->
    <div class="case-block">
      <h3 class="case-block-title">Мое решение в коде</h3>
      <p>Особенность сайта: много страниц с различным выводом, многоуровневый каталог, у каждого товара своя форма заказа. В CMS все страницы были сгруппированы по смыслу для удобной навигации. Поля текстового ввода используют редактор TinyMCE. Настройки сайта выведены в отдельное меню.</p>
      <div class="case-triple-screen">
        <div class="case-triple-screen__img-wrapper"><img src="../assets/5-germes-screen1.png" alt="Экран продукта"></div>
        <div class="case-triple-screen__img-wrapper"><img src="../assets/5-germes-screen2.png" alt="Экран заявки на покупку продукта"></div>
        <div class="case-triple-screen__img-wrapper"><img src="../assets/5-germes-screen3.png" alt="Главный экран сайта"></div>
      </div>
    </div>
    <!-- Результат -->
    <div class="case-block">
      <h3 class="case-block-title">Результат</h3>
      <p>
        Верстка по готовому дизайну. Посадка на CMS ModX. Для каждого вида страниц в CMS создан отдельный шаблон редактирования. Страницы сгруппированы по смыслу.
        <br>Перейти на сайт: <a href="http://www.magirus.ru/" target="_blank" rel="noopener noreferrer">http://www.magirus.ru/</a>
      </p>
    </div>
    <%- require('../_partials/case-numbers.ejs')({
      price: '40 000р.',
      time: '7 дней*',
      year: '2016',
      hint: '*1,5 дня верстки и 3,5 дня интеграции с ModX без учета времени на согласования',
    }) %>
  </div>
</section>
<%- require('../_partials/case-contacts.ejs')() %>
<%- require('../_partials/footer.ejs')() %>
