<%- require('../_partials/case-header.ejs')() %>
<section class="case">
  <div class="container">
    <h1 class="title">Приглашение на курс импровизации</h1>
    <div class="title-props">Дизайн, верстка, программирование</div>
    <!-- Задача -->
    <div class="case-block">
      <h3 class="case-block-title">Задача от заказчика</h3>
      <p>Создать подписную страницу для уже подготовленной расслыки из 3х писем. <br>
          Дизайн должен отражать веселый игривый настрой. <br>
          Заказчик предоставил тексты на сайт.</p>
    </div>
    <!-- Решение - дизайн -->
    <div class="case-block">
      <h3 class="case-block-title">Мое решение в дизайне</h3>
      <div class="row">
        <div class="col-md-6">
          <p>Чтобы отразить веселый настрой были выбраны яркие цвета. А для обложек выбрана детская тематика. <br>
            Чтобы яснее отразить что получит человек в рассылке было отрисовано 3 книги - по одной на каждое письмо рассылки.</p>
          <div class="colors">
            <div class="color" style="background: #ffef78">
              <span>#ffef78</span>
            </div>
            <div class="color" style="background: #72ccff">
              <span>#72ccff</span>
            </div>
            <div class="color" style="background: #000000">
              <span>#000000</span>
            </div>
            <div class="color" style="background: #ffffff">
              <span>#ffffff</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="../assets/1-improv-book@2x.png" alt="Обложки 3х книг">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../assets/1-improv-design@2x.png" alt="Дизайн посадочной страницы">
        </div>
        <div class="col-md-6">
          Чтобы страница приносила подписки, реализованы несколько приемов.
          <ul>
            <li>Список выгод указывает пользу от рассылки.</li>
            <li>Изображение книг визуализирует получаемый результат.</li>
            <li>Счетчик времени ускоряет принятие решения и делает его более значимым.</li>
            <li>Вверху страницы кнопка подписки. Часто люди предпочитают нажимать именно на кнопку сверху, особенно на длинных landing page.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Решение - код -->
    <div class="case-block">
      <h3 class="case-block-title">Мое решение в коде</h3>
      <p>Очень много пользователей интернета заходят на страницы с мобильного устройства. Поэтому сайт был адаптирован, т.е. хорошо смотрится на любом устройстве от телефона до компьютера. В адаптацию входит как расположение блоков, чтобы все влезало, так и учет особенностей отображения разных браузеров.<br>
          По мимо внешнего вида для рекламных страниц важна скорость загрузки. Если не оптимизировать сайт, то пользователь может уйти, не дождаться загрузки страницы. Для проверки скорости загрузки был использован инструмент Google PageSpeed Insights и выполнены его рекомендации по оптимизации страницы, чтобы довести до зеленого показателя.</p>
      <img src="../assets/1-improv-screen@2x.png" alt="Внешний вид дизайна на телефоне и компьютере">
    </div>
    <!-- Результат -->
    <div class="case-block">
      <h3 class="case-block-title">Результат</h3>
      <p>Спроектирован и реализован дизайн посадочной страницы. Страница адаптирована под экраны мобильных устройств. Оптимизирована для быстрой загрузки.  <br>
          Данные с формы отправляются в рассльщик SendPulse. На нем была реализована рассылка трех писем заказчика. <br>
          В итоге получили подписную страницу готовую к запуску рекламного трафика.<br>
          Посмотреть копию сайта можно по этому адресу: <a href="https://prosto-o-web.ru/work/improv" rel="nofollow">https://prosto-o-web.ru/work/improv</a></p>
    </div>
    <%- require('../_partials/case-numbers.ejs')({
      price: '8000р.',
      time: '11 часов*',
      year: '2018',
      hint: '*8 часов дизайна и проектирования и 3 часа верстки и программирования без учета времени на согласования',
    }) %>
  </div>
</section>
<%- require('../_partials/case-contacts.ejs')() %>
<%- require('../_partials/footer.ejs')() %>
