<header class="header">
  <div class="container">
    <div class="header-me">
      <div class="header-me__img-wrapper">
        <img src="../assets/me.png" alt="Бушманов Владимир">
      </div>
      <div class="header-me__content">
        Бушманов Владимир <br>
        Web-разработчик с&nbsp;5&#8209;летним стажем
      </div>
    </div>
    <button class="btn header-btn js-modal-show" type="button" data-modal="contact">Написать мне</button>
  </div>
</header>
<section class="video">
  <div class="container">
    <h1 class="title">Создание сайтов “под ключ”</h1>
    <div class="page-content">
      <p><b>Что делаю.</b> Последние 5 лет я создаю сайты разной сложности: лендинги, корпоративные сайты, крупные интернет-порталы. В моих компетенциях программирование сайтов (backend, frontend) и настройка хостинга.</p>
      <p>
        Я стараюсь делать качественно и вот <b>критерии качества</b>, которых я придерживаюсь:
      </p>
      <ul>
        <li>СЕО-верстка: сайт адаптирован для поисковиков и скринридеров</li>
        <li>Адаптивность: сайт выглядит хорошо на различных устройствах</li>
        <li>Оптимизация скорости загрузки страницы до класса А по версии <a href="http://webpagetest.org" target="_blank" rel="noopener noreferrer">webpagetest.org</a></li>
        <li>Валидная верстка проверяемая <a href="http://validator.w3.org" target="_blank" rel="noopener noreferrer">validator.w3.org</a></li>
        <li>Анимация всех интерактивных элементов</li>
        <li>Понятный код, который легко сможет доработать другой профессионал</li>
      </ul>
    </div>
    <div class="video__video-container" style="display:none">
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/KGK6ssyeskM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section class="portfolio">
  <div class="container">
    <h2 class="title">Портфолио</h2>
    <div class="title-props portfolio__title-props">Последние работы</div>
    <div class="row">
      <%- require('../_partials/portfolio-item.ejs')({
        title: 'Подписная страница',
        img: '../assets/1-improv-screen0.png',
        tags: 'Дизайн <br> Верстка <br> Адаптив <br> SendPulse',
        link: '/improv.html',
      }) %>
      <%- require('../_partials/portfolio-item.ejs')({
        title: 'Верстка',
        img: '../assets/2-tanracel-screen0.png',
        tags: 'Верстка <br> Адаптив',
        link: '/tanravel.html',
      }) %>
    </div>
    <div class="title-props portfolio__title-props">Старые работы</div>
    <div class="row">
      <%- require('../_partials/portfolio-item.ejs')({
        title: 'Landing page',
        img: '../assets/3-ton-screen0.png',
        tags: 'Верстка <br> PHP',
        link: '/ton.html',
      }) %>
      <%- require('../_partials/portfolio-item.ejs')({
        title: 'Корпоративный сайт',
        img: '../assets/4-magirus-screen0.png',
        tags: 'Верстка <br> ModX',
        link: '/magirus.html',
      }) %>
      <%- require('../_partials/portfolio-item.ejs')({
        title: 'Корпоративный сайт',
        img: '../assets/5-germes-screen3.png',
        tags: 'Верстка <br> ModX',
        link: '/germes.html',
      }) %>
    </div>
  </div>
</section>
<section class="contact-sect">
  <div class="container">
    <h2 class="title">Контакты</h2>
    <p>Напишите мне в WhatsApp или на E-mail</p>
    <%- require('../_partials/contacts.ejs')() %>
  </div>
</section>
<%- require('../_partials/footer.ejs')() %>
