<%- require('../_partials/case-header.ejs')() %>
<section class="case">
  <div class="container">
    <h1 class="title">Tanravel</h1>
    <div class="title-props">Верстка</div>
    <!-- Задача -->
    <div class="case-block">
      <h3 class="case-block-title">Задача от заказчика</h3>
      <p>Сделать адаптивную верстку 2х страниц готового дизайна. Оживить интерактивные элементы.</p>
    </div>
    <!-- Решение - код -->
    <div class="case-block">
      <h3 class="case-block-title">Мое решение в коде</h3>
      <p>Почти всегда дизайнеры не описывают анимации на сайте. Иногда не рисуется мобильная версия. В этом задании не было ни того, ни другого. Поэтому мне пришлось додумывать недостающие элементы дизайна самостоятельно. Это дополнительная работа, но она необходима для сайта, которым приятно пользоваться. После окончания верстки дизайнер внес правки. Я их поправил. И проект был сдан.
        <br>Для этого проекта в верстке я окрашивал вкладку браузера в цвет меню. Это не всегда делается. Но для этого проекта это было важно.</p>
      <div class="row">
        <div class="col-md-6"><img src="../assets/2-tanravel-screen1@2x.png" alt="Первая страница верстки"></div>
        <div class="col-md-6"><img src="../assets/2-tanravel-screen2@2x.png" alt="Вторая страница верстки"></div>
      </div>
    </div>
    <!-- Результат -->
    <div class="case-block">
      <h3 class="case-block-title">Результат</h3>
      <p>Сверстано 2 адаптированные под мобильные устройства страницы. Добавлена анимация. Добавлены скрипты для интерактивных элементов. <br>
          Посмотреть результат можно по этим ссылкам:
          <a href="https://prosto-o-web.ru/work/tanravel/tanrevel.php" rel="nofollow">https://prosto-o-web.ru/work/tanravel/tanrevel.php</a> и
          <a href="https://prosto-o-web.ru/work/tanravel/micronidling.php" rel="nofollow">https://prosto-o-web.ru/work/tanravel/micronidling.php</a></p>
    </div>
    <%- require('../_partials/case-numbers.ejs')({
      price: '9000р.',
      time: '10 часов',
      year: '2018',
      hint: '',
    }) %>
  </div>
</section>
<%- require('../_partials/case-contacts.ejs')() %>
<%- require('../_partials/footer.ejs')() %>
